.divNav {
  position: absolute;
  height: 92px;
  width: 100%;
  left: 0;
  top: 0;
  right: 0;
  background: #3c3a39;
}

.headerNav {
  height: 48px;
  width: 375px;
  left: 0;
  top: 44px;
  border-radius: 0;
  position: absolute;
  right: 0;
  bottom: 0;
}

.toggleIcon {
  height: 40px;
  width: 40px;
  left: 311px;
  top: 4px;
  border-radius: 8px;
  padding: 8px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: absolute;
  right: 24px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.logo {
  left: 12px;
  top: 2px;
  border-radius: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  position: absolute;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0;
  text-align: center;
  width: 77px;
  height: 2px;
}

/* properties for Main */
.main {
  width: 100;
  top: 0;
  display: flex;
  flex-direction: column;
  padding: 30% 0 120px 4%;
  gap: 12px;
  position: absolute;
  background: #1c1a19;
  margin-left: 56px;
}

.mainHeader {
  height: 124px;
  width: 327px;
  left: 24px;
  top: 120px;
  border-radius: nullpx;
  text-align: left;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-top: 1px;
  font-family: 'Crete Round', sans-serif;
}

.introHeader {
  height: 27px;
  width: 327px;
  left: 24px;
  top: 256px;
  border-radius: nullpx;
  letter-spacing: 0;
  text-align: left;
  font-style: normal;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #fff5e1;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-top: 0;
}

.mainParagraph {
  height: 123px;
  width: 327px;
  left: 24px;
  top: 295px;
  border-radius: nullpx;
  letter-spacing: 0;
  text-align: left;
  font-style: normal;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.main-Div {
  height: 40px;
  width: 200px;
  left: 24px;
  top: 430px;
  border-radius: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  flex: none;
  order: 3;
  flex-grow: 0;
}

.github {
  height: 40px;
  width: 40px;
  left: 0;
  top: 0;
  border-radius: 8px;
  padding: 8px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.linkedIn {
  height: 40px;
  width: 40px;
  left: 40px;
  top: 0;
  border-radius: 8px;
  padding: 8px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.angelList {
  height: 40px;
  width: 40px;
  left: 80px;
  top: 0;
  border-radius: 8px;
  padding: 8px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.twitter {
  height: 40px;
  width: 40px;
  left: 120px;
  top: 0;
  border-radius: 8px;
  padding: 8px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex: none;
  order: 3;
  flex-grow: 0;
}

.medium {
  height: 40px;
  width: 40px;
  left: 160px;
  top: 0;
  border-radius: 8px;
  padding: 8px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex: none;
  order: 4;
  flex-grow: 0;
}

.bckimg {
  width: 406.89px;
  height: 312.03px;
  left: 620.1px;
  top: 317px;
}

.sideimg {
  left: 267.1px;
  top: 300px;
  position: relative;
}

/* Design for Second Branch */
.workSection {
  height: 3455px;
  width: 100%;
  top: 682px;
  border-radius: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 130px 0;
  gap: 80px;
  position: absolute;
}

.workSecPara {
  height: 83px;
  width: 327px;
  left: 0;
  top: 0;
  border-radius: nullpx;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  align-items: center;
  color: #1c1a19;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.workSectionRec {
  height: 0;
  width: 327px;
  left: 0;
  top: 107px;
  border-radius: 0;
  border: 1px solid #212121;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.workSectionImg {
  height: 237px;
  width: 100%;
  left: 1px;
  top: 0;
  background: url(image_processing20200716-21735-f07s4k);
  flex: none;
  flex-grow: 0;
  position: relative;
  overflow: hidden;
}

.wrkSecHeader {
  padding-top: 15px;
  height: 3px;
  width: 327px;
  left: 0;
  top: 0;
  border-radius: nullpx;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #091e42;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.wrkSecPara {
  height: 147px;
  width: 327px;
  left: 0;
  top: 48px;
  padding-top: 1px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.btnSeeProject {
  height: 48px;
  width: 124px;
  left: 0;
  top: 259px;
  border-radius: 0;
  padding: 12px;
  gap: 10px;
  background: #f55800;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  border: none;
  color: #fff;
}

.language {
  height: 40px;
  width: 236px;
  left: 0;
  top: 207px;
  border-radius: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 12px;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.css {
  height: 40px;
  width: 49px;
  left: 0;
  top: 0;
  list-style: none;
  background: #fff;
  border: 1px solid #8993a4;
  flex: none;
  order: 0;
  flex-grow: 0;
  text-align: center;
  padding-top: 10px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-size: 15px;
  line-height: 25px;
}

.html {
  height: 40px;
  width: 56px;
  left: 61px;
  top: 0;
  list-style: none;
  background: #fff;
  border: 1px solid #8993a4;
  flex: none;
  order: 1;
  flex-grow: 0;
  text-align: center;
  padding-top: 10px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-size: 15px;
  line-height: 25px;
}

.bootstrap {
  height: 40px;
  width: 95px;
  left: 129px;
  top: 0;
  list-style: none;
  background: #fff;
  border: 1px solid #8993a4;
  flex: none;
  order: 2;
  flex-grow: 0;
  padding-top: 10px;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-size: 15px;
  line-height: 25px;
}

.ruby {
  height: 40px;
  width: 61px;
  left: 236px;
  top: 0;
  list-style: none;
  text-align: center;
  background: #fff;
  border: 1px solid #8993a4;
  flex: none;
  order: 3;
  flex-grow: 0;
  padding-top: 10px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-top: -70px;
  width: 100%;
}

.card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 386px;
  width: 327px;
  margin-top: 12px;
  background: url('images/bckImg.png');
  background-repeat: no-repeat;
  background-size: 340px auto;
}

.card h4 {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  padding: 48px 0 0 16px;
  margin-bottom: 12px;
  font-weight: 400;
}

.card p {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  width: 295px;
  padding: 0 0 0 16px;
  line-height: 24px;
  color: #fff;
  margin-top: 0;
}

.tags ul {
  margin-top: -10px;
  width: 236px;
  list-style-type: none;
  justify-content: space-between;
  padding: 1px 12px;
}

.tags li {
  float: left;
  margin-left: 5px;
  font-family: 'Inter', sans-serif;
  text-decoration: none;
  color: #fff5e1;
  padding: 10px 12px;
  background: rgba(255, 255, 255, 0.24);
}

.btn-2 {
  margin-top: 50px;
  padding: 12px;
  gap: 10px;
  width: 100%;
  background-color: #ff6b00;
  font-family: 'Inter', sans-serif;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: white;
  border: none;
}

.btn-2:hover {
  color: #f55800;
  background: #fff5e1;
  border: 1px solid #f55800;
}

.AboutMe {
  height: 563px;
  width: 100%;
  top: 4137px;
  background-image: url('images/abtFrame1.png');
  background-repeat: no-repeat;
  background-size: 150px auto;
  background-position: right bottom;
}

.AboutMe h2 {
  font-family: 'Crete Round', sans-serif;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  padding: 10px 24px 24px 24px;
  margin-bottom: 24px;
}

.AboutMe p {
  color: #f4f5f7;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding: 24px 28px 24px 24px;
  letter-spacing: 0;
  text-align: left;
  margin-top: -50px;
}

.resumeBtn {
  margin-top: 10px;
  padding: 12px 12px;
  gap: 10px;
  margin-left: 24px;
  background-color: #ff6b00;
  font-family: 'Inter', sans-serif;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: white;
  border: none;
  position: absolute;
}

.resumeBtn:hover {
  color: #f55800;
  background: #fff5e1;
  border: 1px solid #f55800;
}

.abtSection {
  height: 1401px;
  width: 375px;
  left: 0;
  top: 4137px;
  border-radius: 0;
  background: #1c1a19;
  margin-top: 100px;
}

.lines {
  width: 327px;
  height: 17px;
  margin: -900px 24px 0 24px;
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 24px;
  gap: 24px;
  height: 1241.5px;
  width: 329px;
  left: 23px;
  top: 4797px;
  border-radius: 0;
}

.skillsList {
  padding-top: 620px;
}

.language img {
  margin-top: -170px;
}

.language ul {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  color: #fff;
  letter-spacing: 0;
  text-align: center;
  list-style-type: none;
}

.skillsLan {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  list-style-image: url('images/lanRec.png');
}

.skillsFrame {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  list-style-image: url('images/framewrkRec.png');
}

.skillsLang {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  list-style-image: url('images/circle.png');
}

/* Form Styles */
form {
  height: 844px;
  width: 100%;
  top: 6038px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 58px;
  position: absolute;
}

.contactForm {
  margin-top: -200px;
}

.contactForm h5 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
  margin: 24px 30px;
  width: 320px;
}

.contactForm ul {
  list-style: none;
  margin-top: -21px;
  padding: 12px 40px 0 40px;
}

.contactForm input {
  border-style: none;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 54px;
  color: #979493;
  margin-left: 20px;
}

.contactForm textarea {
  border-style: none;
  color: #3c3a39;
  background: #fbf8f7;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 12px;
  margin-top: 24px;
  padding-top: 12px;
  width: 327px;
}

.contactForm button {
  background: #ff6b00;
  padding: 12px;
  margin: 24px 120px 0 100px;
  width: 131px;
  border: none;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}

.Rectangle42 {
  width: 100%;
  position: absolute;
}

.contactForm button:hover {
  color: #f55800;
  background: #fff5e1;
  border: 1px solid #f55800;
}

.formNav {
  height: 72px;
  width: 100%;
  top: 6886px;
  position: absolute;
}

.formNav h1 {
  color: #f55800;
}

.formNav ul {
  display: flex;
  justify-content: center;
}

.darkLine {
  margin-left: 42%;
  position: absolute;
}

.dskNav {
  display: none;
}

.carddsk {
  display: none;
}

@media screen and (min-width: 768px) {
  .logo {
    padding-left: 50px;
  }

  .dskNav {
    padding-left: 30px;
  }

  .divNav {
    height: 72px;
    width: 100%;
    position: absolute;
  }

  .headerNav {
    margin-top: -40px;
    width: 100%;
  }

  .headerNav ul {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    list-style: none;
    padding-right: 90px;
  }

  .divNav li {
    color: #f4f5f7;
    padding-left: 30px;
  }

  .main {
    top: 92px;
    width: 100%;
    position: absolute;
    margin-top: -100px;
    background-image: url('images/bck11.png');
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: bottom 80px right 4px;
  }

  .mainHeader {
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 82px;
    width: 48%;
    padding-left: 140px;
    margin-top: 53px;
  }

  .introHeader {
    margin-top: 34px;
    padding-left: 140px;
  }

  .mainParagraph {
    padding-left: 140px;
  }

  .main-Div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding-top: 2px;
  }

  .workSection {
    width: 100%;
    margin-top: 130px;
  }

  .workSectionRec {
    width: 450px;
  }

  .workSecPara {
    margin-top: 94px;
    padding-left: 44px;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
  }

  .dskWrk {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    width: 100%;
  }

  .dskArt {
    background-image: url('images/Placeholder.png');
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: top left 370px;
    width: 684px;
    height: 648px;
    position: relative;
    padding-left: 904px;
    margin-top: -90px;
  }

  .wrkSecHeader {
    flex: none;
    order: 0;
    margin-top: 5px;
  }

  .wrkSecPara {
    flex: none;
    order: 1;
  }

  .btnSeeProject {
    flex: none;
    order: 2;
  }

  .carddsk {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    margin-top: -270px;
    position: relative;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    padding: 24px 24px;
  }

  .abtSection {
    width: 100%;
  }

  .AboutMe {
    padding-left: 24px;
    width: 100%;
    background-image: url('images/dskFrame.png');
    background-repeat: no-repeat;
    background-size: 45%;
    background-position: bottom 150px right 40px;
  }

  .abtSection p {
    width: 425px;
    font-weight: 300;
    font-size: 17px;
    line-height: 32px;
    position: relative;
  }

  .abtSection hr {
    width: 70%;
    margin-left: 80px;
  }

  .skills {
    width: 100%;
  }

  .skillsList {
    display: flex;
    flex-direction: row;
    margin-top: -350px;
    width: 100%;
    margin-left: -90%;
  }

  .skillsList ul {
    width: 100%;
    text-align: left;
    align-content: center;
  }

  .skillsList li {
    line-height: 55px;
  }

  .contactForm {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    padding-left: 64px;
    position: absolute;
    margin-top: -2100px;
  }

  .contactForm h5 {
    width: 325px;
    text-align: left;
    line-height: 50px;
  }

  .contactForm ul {
    margin-left: -80px;
    padding-right: 100px;
  }

  textarea {
    height: 114px;
  }

  .contactForm button {
    margin-left: 5px;
    width: 100%;
  }

  .formNav {
    margin-top: -2500px;
  }

  .Rectangle42 {
    width: 800px;
    padding-left: 50px;
    position: absolute;
  }

  .formNav ul {
    padding-left: 330px;
    position: absolute;
  }

  /* Card One */
  .cardOne {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 386px;
    width: 327px;
    margin-top: -39px;
    background: url('images/ImgPlaceholder1.png');
    background-repeat: no-repeat;
    background-size: 340px auto;
  }

  .btn-One {
    margin-top: 387px;
    padding: 12px;
    gap: 10px;
    width: 100%;
    background-color: #ff6b00;
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    line-height: 24px;
    font-weight: 700;
    color: white;
    border: none;
  }

  .btn-One:hover {
    color: #f55800;
    background: #fff5e1;
    border: 1px solid #f55800;
  }

  /* Card Two */
  .cardTwo {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 386px;
    width: 327px;
    margin-top: 12px;
    background: url('images/ImgPlaceholder2.png');
    background-repeat: no-repeat;
    background-size: 340px auto;
  }

  .cardTwo h4 {
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-size: 32px;
    line-height: 44px;
    color: #fff;
    padding: 80px 0 0 16px;
    margin-bottom: 12px;
    font-weight: 400;
  }

  .cardTwo p {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    width: 295px;
    padding: 0 0 0 16px;
    line-height: 24px;
    color: #fff;
    margin-top: 0;
  }

  .tagsTwo ul {
    margin-top: -10px;
    width: 265px;
    list-style-type: none;
    justify-content: space-between;
    padding: 1px 12px;
  }

  .tagsTwo li {
    float: left;
    margin-left: 5px;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    color: #fff5e1;
    padding: 10px 12px;
    background: rgba(255, 255, 255, 0.24);
  }

  .btn-Two {
    margin-top: 310px;
    padding: 12px;
    gap: 10px;
    width: 100%;
    background-color: #ff6b00;
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    line-height: 24px;
    font-weight: 700;
    color: white;
    border: none;
  }

  .btn-Two:hover {
    color: #f55800;
    background: #fff5e1;
    border: 1px solid #f55800;
  }

  /* Card Three */
  .cardThree {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 386px;
    width: 327px;
    margin-top: 12px;
    background: url('images/ImgPlaceholder3.png');
    background-repeat: no-repeat;
    background-size: 340px auto;
  }

  .cardThree h4 {
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-size: 32px;
    line-height: 44px;
    color: #fff;
    padding: 120px 0 0 16px;
    margin-bottom: 12px;
    font-weight: 400;
  }

  .cardThree p {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    width: 295px;
    padding: 0 0 0 16px;
    line-height: 24px;
    color: #fff;
    margin-top: 0;
  }

  .tagsThree ul {
    margin-top: 2px;
    width: 265px;
    list-style-type: none;
    justify-content: space-between;
    padding: 1px 12px;
  }

  .tagsThree li {
    float: left;
    margin-left: 5px;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    color: #fff5e1;
    padding: 10px 12px;
    background: rgba(255, 255, 255, 0.24);
  }

  .btn-Three {
    margin-top: 10px;
    padding: 12px;
    gap: 10px;
    width: 100%;
    background-color: #ff6b00;
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    line-height: 24px;
    font-weight: 700;
    color: white;
    border: none;
  }

  .btn-Three:hover {
    color: #f55800;
    background: #fff5e1;
    border: 1px solid #f55800;
  }

  /* Card Four */
  .cardFour {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 386px;
    width: 327px;
    margin-top: 12px;
    background: url('images/bckImg.png');
    background-repeat: no-repeat;
    background-size: 340px auto;
  }

  .cardFour h4 {
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-size: 32px;
    line-height: 44px;
    color: #fff;
    padding: 80px 0 0 16px;
    margin-bottom: 12px;
    font-weight: 400;
  }

  .cardFour p {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    width: 295px;
    padding: 0 0 0 16px;
    line-height: 24px;
    color: #fff;
    margin-top: 0;
  }

  .tagsFour ul {
    margin-top: -10px;
    width: 265px;
    list-style-type: none;
    justify-content: space-between;
    padding: 1px 12px;
  }

  .tagsFour li {
    float: left;
    margin-left: 5px;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    color: #fff5e1;
    padding: 10px 12px;
    background: rgba(255, 255, 255, 0.24);
  }

  .btn-Four {
    margin-top: 10px;
    padding: 12px;
    gap: 10px;
    width: 100%;
    background-color: #ff6b00;
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    line-height: 24px;
    font-weight: 700;
    color: white;
    border: none;
  }

  .btn-Four:hover {
    color: #f55800;
    background: #fff5e1;
    border: 1px solid #f55800;
  }

  /* Card Five */
  .cardFive {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 386px;
    width: 327px;
    margin-top: 12px;
    background: url('images/ImgPlaceholder2.png');
    background-repeat: no-repeat;
    background-size: 340px auto;
  }

  .cardFive h4 {
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-size: 32px;
    line-height: 44px;
    color: #fff;
    padding: 80px 0 0 16px;
    margin-bottom: 12px;
    font-weight: 400;
  }

  .cardFive p {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    width: 295px;
    padding: 0 0 0 16px;
    line-height: 24px;
    color: #fff;
    margin-top: 0;
  }

  .tagsFive ul {
    margin-top: -10px;
    width: 265px;
    list-style-type: none;
    justify-content: space-between;
    padding: 1px 12px;
  }

  .tagsFive li {
    float: left;
    margin-left: 5px;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    color: #fff5e1;
    padding: 10px 12px;
    background: rgba(255, 255, 255, 0.24);
  }

  .btn-Five {
    margin-top: 10px;
    padding: 12px;
    gap: 10px;
    width: 100%;
    background-color: #ff6b00;
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    line-height: 24px;
    font-weight: 700;
    color: white;
    border: none;
  }

  .btn-Five:hover {
    color: #f55800;
    background: #fff5e1;
    border: 1px solid #f55800;
  }

  /* Card Six */
  .cardSix {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 386px;
    width: 327px;
    margin-top: 12px;
    background: url('images/ImgPlaceholder2.png');
    background-repeat: no-repeat;
    background-size: 340px auto;
  }

  .cardSix h4 {
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-size: 32px;
    line-height: 44px;
    color: #fff;
    padding: 120px 0 0 16px;
    margin-bottom: 12px;
    font-weight: 400;
  }

  .cardSix p {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    width: 295px;
    padding: 0 0 0 16px;
    line-height: 24px;
    color: #fff;
    margin-top: 0;
  }

  .tagsSix ul {
    margin-top: 2px;
    width: 265px;
    list-style-type: none;
    justify-content: space-between;
    padding: 1px 12px;
  }

  .tagsSix li {
    float: left;
    margin-left: 5px;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    color: #fff5e1;
    padding: 10px 12px;
    background: rgba(255, 255, 255, 0.24);
  }

  .btn-Six {
    margin-top: 10px;
    padding: 12px;
    gap: 10px;
    width: 100%;
    background-color: #ff6b00;
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    line-height: 24px;
    font-weight: 700;
    color: white;
    border: none;
  }

  .btn-Six:hover {
    color: #f55800;
    background: #fff5e1;
    border: 1px solid #f55800;
  }

  .card {
    display: none;
  }

  .toggleIcon {
    display: none;
  }

  .bckimg {
    display: none;
  }

  .workSectionImg {
    display: none;
  }

  .lines {
    display: none;
  }

  .darkLine {
    display: none;
  }
}
