.divNav {
  position: absolute;
  height: 92px;
  width: 423px;
  left: 0;
  top: 0;
  border-radius: 0;
  background: #3c3a39;
}

.first-Nav {
  height: 44px;
  width: 375px;
  left: 0;
  top: 0;
  border-radius: 0;
  position: absolute;
}

.time {
  height: 21px;
  width: 54px;
  left: 21px;
  top: 13px;
  border-radius: 0;
  position: absolute;
}

.batteryGroup {
  position: absolute;
  width: 66.66px;
  height: 11.34px;
  left: 293.67px;
  top: 17.33px;
}

.secondNav {
  height: 48px;
  width: 375px;
  left: 0;
  top: 44px;
  border-radius: 0;
  position: absolute;
  right: 0;
  bottom: 0;
}

.toggleIcon {
  height: 40px;
  width: 40px;
  left: 311px;
  top: 4px;
  border-radius: 8px;
  padding: 8px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: absolute;
  right: 24px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.logo {
  left: 12px;
  top: 2px;
  border-radius: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  position: absolute;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0;
  text-align: center;
  width: 77px;
  height: 2px;
}

/* properties for Main */
.main {
  height: 590px;
  width: 375px;
  left: 0;
  top: 92px;
  border-radius: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 120px 24px;
  gap: 12px;
  position: absolute;
  background: #1c1a19;
}

.mainHeader {
  height: 124px;
  width: 327px;
  left: 24px;
  top: 120px;
  border-radius: nullpx;
  text-align: left;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.introHeader {
  height: 27px;
  width: 327px;
  left: 24px;
  top: 256px;
  border-radius: nullpx;
  letter-spacing: 0;
  text-align: left;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #fff5e1;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.mainParagraph {
  height: 123px;
  width: 327px;
  left: 24px;
  top: 295px;
  border-radius: nullpx;
  letter-spacing: 0;
  text-align: left;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.main-Div {
  height: 40px;
  width: 200px;
  left: 24px;
  top: 430px;
  border-radius: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  flex: none;
  order: 3;
  flex-grow: 0;
}

.github {
  height: 40px;
  width: 40px;
  left: 0;
  top: 0;
  border-radius: 8px;
  padding: 8px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.linkedIn {
  height: 40px;
  width: 40px;
  left: 40px;
  top: 0;
  border-radius: 8px;
  padding: 8px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.angelList {
  height: 40px;
  width: 40px;
  left: 80px;
  top: 0;
  border-radius: 8px;
  padding: 8px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.twitter {
  height: 40px;
  width: 40px;
  left: 120px;
  top: 0;
  border-radius: 8px;
  padding: 8px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex: none;
  order: 3;
  flex-grow: 0;
}

.medium {
  height: 40px;
  width: 40px;
  left: 160px;
  top: 0;
  border-radius: 8px;
  padding: 8px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex: none;
  order: 4;
  flex-grow: 0;
}

.bckimg {
  width: 406.89px;
  height: 342.03px;
  left: 620.1px;
  top: 317px;
}

.sideimg {
  left: 275.1px;
  top: 480px;
  position: absolute;
}
